.container {
  --c1: 1fr;
  --c2: 1fr;
  --c3: 1fr;
  --r1: 1fr;
  --r2: 1fr;
  --r3: 1fr;
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: var(--c1) var(--c2) var(--c3);
  grid-template-rows: var(--r1) var(--r2) var(--r3);
  gap: 10px;
  transition: 0.2s;
}

body {
  height: 100vh;
  background-color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@for $i from 0 through 9 {
  .item:nth-child(#{$i + 1}) {
    background-color: hsl(40 * $i, 100%, 60%);
  }
  .item:hover {
    cursor: pointer;
  }

  //有兼容性问题
  .container:has(.item:nth-child(#{$i + 1}):hover) {
    $r: floor($i / 3) + 1;
    $c: $i % 3 +1;
    --r#{$r}: 2fr;
    --c#{$c}: 2fr;
  }
}
